* {
  margin: 0;
  padding: 0;
  font-family: roboto;
}
body {
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media all and (min-width: 320px) {
  .login-container {
    padding: 10%;
  }
  .css-1jrn2fe-MuiGrid-root {
    height: 60vh !important;
  }
  .css-gadse4-MuiPaper-root-MuiGrid-root {
    background-color: rgb(247, 247, 247) !important;
  }
}

@media all and (min-width: 768px) {
  .login-container {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .css-1jrn2fe-MuiGrid-root {
    height: 70vh !important;
  }
}

@media all and (min-width: 1024px) {
  
  .css-1jrn2fe-MuiGrid-root {
    height: 90vh !important;
  }
}
